/* global */


section,
footer {
  margin: auto;
  width: 700px;
  border-radius: 4px;
  background-color: #fff;
}

.boxes {
  margin-top: 48px;
}

.boxes .card {
  color: #fff;

  a {
    text-decoration: none;
    color: #fff;

    h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: -0.65px;
      transition: all .3s;
      line-height: 50px;
    }

    p {
      opacity: 0;
      transition: all .3s;
      margin-bottom: 0;
    }
  }
}

.boxes .card a:hover {
  h3 {
    line-height: normal;
  }

  p {
    margin-bottom: 16px;
    opacity: 1;
  }
}

.boxes .card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.boxes .opening {
  width: 100%;
  height: 120px;
  background-color: #ff6b6b;

  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.65px;
  }
}


.slider img {
  width: 100%;
  height: 193px;
  object-fit: cover;
}

ol.carousel-indicators {
  margin: 0 auto;
}

ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #cdcdcd;
}

ol.carousel-indicators li.active {
  background-color: #333333;
}

.carousel {
  padding-bottom: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-item {
  h4 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  p,
  i {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 23px;
  }
}


.gallery img {
  width: 100%;
  height: 193px;
  object-fit: cover;
}

.heart,
.branch {
  font-size: 30px;
  color: #fff;
  transition: all .3s;
}

.heart:hover,
.branch:hover {
  color: #ff6b6b;
}

.ovl {
  opacity: 0;
  transition: all .3s;
}

.ovl:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}


footer {
  margin-bottom: 48px;
  a {
    color: #ff6b6b;
    text-decoration: underline;
  }
}

footer a:hover {
  color: #ff6b6b;
  font-weight: 700;
}
